body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
.flex-grow-1 {
    flex-grow: 1;
}
.padding-small {
    padding: 20px;
}
.align-end {
    justify-content: flex-end;
}
.align-center {
    justify-content: center;
}